<!--C'est le header de la page -->
<div class="card text-center">      
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"> <a class="nav-link active" href="/">Accueil</a> </li>
      <li class="nav-item"> <a class="nav-link active" href="/inscription">Inscription</a> </li>
      <li class="nav-item"> <a class="nav-link active" href="/connexion">Connexion</a> </li>
    </ul>
  </div>   
</div>
