<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Not Found</title> 
        <link rel="stylesheet" href="../public/style.css"> 
        <link rel="stylesheet" href="../public/inscription.css">
        <link rel="icon" href="../public/images/favicon.ico" />
    </head>
    <body class="text-center">
        <% include ./partials/header %>
       
        <div class="alert alert-danger" role="alert">Erreur 404 Not Found</div>
    
        <% include ./partials/footer %> 
    </body>

</html>
