<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Post it</title> 
        <link rel="stylesheet" href="../public/styleconnected.css">
        <link rel="stylesheet" href="../public/style.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" href="../public/images/favicon.ico" />
    </head>
    <body>
        <div>
            <button class="btn btn-outline-success pull-left" id="Ajouter" >Ajouter</button>
            <button class="btn btn-outline-danger  pull-left" id="Supprimer" >Supprimer</button>
            <button class="btn btn-outline-primary pull-left" id="Modifer" >Modifier</button>
            <button class="btn btn-outline-warning pull-right" id="Deconnexion" >Deconnexion</button>
            <button class="btn btn-outline-primary pull-right" id="Profile" >Profile</button>
            <button class="btn btn-outline-secondary pull-right" id="Informations" >Informations</button>
        </div>
        <canvas id="myCanvas"></canvas>
    </body>
</html>