<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Mot de passe oublié</title> 
        <link rel="stylesheet" href="../public/style.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../public/forgotpassword.css"> 
        <link rel="icon" href="../public/images/favicon.ico" />


    </head>
    <body>
        <% include ./partials/header %>
        <div class="alert alert-primary">
            Ecrivez votre mail et cliquer sur le button envoyer vous aller recevoir un lien de réninitialisation le plus rapidement possible 
        </div>
        
        <form form action="/forgotpassword" method="POST" class="form-signin" >
            <div class="input-group">
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Email" required autofocus>
                <button class="btn-info btn pull-right" type="submit">Envoyer</button>
            </div>
    </form>
       
        <% include ./partials/footer %>
        

    </body>
</html>

