<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Acceuil</title> 
        <link rel="stylesheet" href="../public/css/style.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" href="../public/images/favicon.ico" />

    </head>
    <body>
        <% include ./partials/header %>
        <h1 class="text-center">Post it / Love it</h1>
        <div class="text-center">
                <img src="../public/images/post_animation.gif" class="rounded" alt="picture" width="800" height="600">
        </div>
        <% include ./partials/footer %>
        
    
    </body>
    <script>
    if (localStorage.getItem("token") != null) {
        let x=localStorage.getItem('token');
        window.location = "/home";
    }
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
                alert("->>>>",xhr.responseText); // Données textuelles récupérées
        }
    };
  
    </script>
</html>