<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Acceuil</title> 
        <link rel="stylesheet" href="../public/style.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" href="../public/images/favicon.ico" />

    </head>
    <body>
        <% include ./partials/header %>
        <h1 class="text-center">Post it / Love it</h1>
        <div class="text-center">
                <img src="../public/images/post_animation.gif" class="rounded" alt="picture" width="1000" height="800">
        </div>
        <% include ./partials/footer %>
        
    
    </body>
</html>