<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Inscription</title> 
        <link rel="stylesheet" href="../public/style.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" href="../public/images/favicon.ico" />

    </head>
    <body>
        <% include ./partials/header %>
        <div class="alert alert-success">
            <p> Votre inscription à était prise en compte 
                <br>
                Bienvenue parmis nous 
                <br>
                Vous allez recevoir un mail de confirmation de notre équipe.
            </p>
        </div>
        <% include ./partials/footer %>
        
   
    </body>
</html>

